.buttons {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;

	display: flex;
	align-items: flex-start;
}

.button {
	display: flex;

	padding: 0.75rem;
	/* background-color: white; */
	color: black;
	border: 2px solid black;

	position: relative;
}

.button-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	visibility: hidden;

	background-color: black;
}

.button-bg::before {
	content: '';
	width: 50px;
	height: 50px;
}

.button:hover {
	color: white;
	/* border-color: white; */
	cursor: pointer;
}

.button:hover .button-bg {
	visibility: initial;
	animation: buttonSlide 0.2s ease;
}

.button:not(:hover) .button-bg {
	animation: buttonSlideOut 0.1s ease;
}

@keyframes buttonSlideOut {
	0% {
		visibility: initial;
		width: 100%;
	}
	100% {
		visibility: hidden;
		width: 0%;
	}
}

@keyframes buttonSlide {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
