.buttons {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.buttons .section {
	display: flex;
	flex-direction: column;
}

.button {
	display: flex;
	position: relative;
	padding: 0.75rem 1rem;
	border: 2.5px solid black;

	font-weight: 500;
	cursor: pointer;
	background-color: white;
	color: black;
}

.button-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	overflow-x: clip;
	white-space: nowrap;

	color: white;
	background-color: black;
}

.button-bg > div {
	padding: 0.75rem 1rem;
}

.button:hover .button-bg {
	visibility: initial;
	animation: buttonSlide 0.2s ease;
}

.button:not(:hover) .button-bg {
	animation: buttonSlideOut 0.2s ease;
}

@keyframes buttonSlideOut {
	0% {
		visibility: initial;
		width: 100%;
	}
	100% {
		visibility: hidden;
		width: 0%;
	}
}

@keyframes buttonSlide {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
