.buttons {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.buttons .section {
	display: flex;
	flex-direction: column;
}

.button {
	display: flex;
	position: relative;

	cursor: pointer;
	padding: 0.75rem;
	color: black;
	border: 2.5px solid black;
	border-radius: 0.25rem;

	font-weight: 500;
}

.button-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	visibility: hidden;

	background-color: black;
}

.button:hover {
	color: white;
}

.button:hover .button-bg {
	visibility: initial;
	animation: buttonSlide 0.2s ease;
}

.button:not(:hover) .button-bg {
	animation: buttonSlideOut 0.2s ease;
}

@keyframes buttonSlideOut {
	0% {
		visibility: initial;
		width: 100%;
	}
	100% {
		/* visibility: hidden; */
		width: 0%;
	}
}

@keyframes buttonSlide {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
