.transition {
	transition: all 0.25s ease-in-out;
}

.flipIn {
	animation: flipdown 0.5s ease both;
}

.home-container {
	min-height: 100vh;

	display: flex;
}

.child {
	margin: auto;
	max-width: 600px;
}

.accord {
	position: relative;
}

/* .accord > div {
	display: none;
} */

i {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 16px;
	right: 0;
}

i::before,
i::after {
	content: '';
	transition: all 0.25s ease-in-out;
	position: absolute;
	background-color: red;
	width: 3px;
	height: 9px;
}

i::before {
	transform: translate(-2px, 0) rotate(45deg);
}

i::after {
	transform: translate(2px, 0) rotate(-45deg);
}

p {
	color: black;
	font-size: 17px;
	line-height: 26px;
	letter-spacing: 1px;
	position: relative;
	overflow: hidden;
	max-height: 800px;
	transition: all 0.25s ease-in-out;
	opacity: 1;
	transform: translate(0, 0);
	margin-top: 14px;
	z-index: 2;
}

input[type='checkbox'] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}

input[type='checkbox']:checked ~ p {
	color: red;
	margin-top: 0;
	max-height: 0 !important;
	opacity: 0 !important;
	transform: translate(0, 50%);
}

input[type='checkbox']:checked + i::before {
	transform: translate(2px, 0) rotate(45deg);
}

input[type='checkbox']:checked + i::after {
	transform: translate(-2px, 0) rotate(-45deg);
}

/* input[type='checkbox']:checked + label {
	box-shadow: 0 0 0 3px hotpink;
	color: red;
} */

@keyframes flipdown {
	0% {
		opacity: 0;
		transform-origin: top center;
		transform: rotateX(-90deg);
	}
	5% {
		opacity: 1;
	}
	80% {
		transform: rotateX(8deg);
	}
	83% {
		transform: rotateX(6deg);
	}
	92% {
		transform: rotateX(-3deg);
	}
	100% {
		transform-origin: top center;
		transform: rotateX(0deg);
	}
}
