.nav {
	/* position: absolute;
	top: 0; */
	height: 50px;
	width: 100%;

	display: flex;
}

.nav-container {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav .links {
	display: flex;
	gap: 1rem;
}

.nav .title {
	font-size: 1.25rem;
	font-weight: 500;
}
