.numbers {
	width: 100%;
	max-width: 900px;
	margin: 3rem auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.numbers > div {
	display: flex;
	flex-direction: row;
}

.numbers > div:first-child {
	gap: 1rem;
}
