@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500&display=swap');
@import './styles/Home.css';
@import './styles/Nav.css';
@import './styles/Buttons.css';

body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: initial;
	color: initial;
}

select,
input,
button,
textarea {
	font: inherit;
}

:root {
	--clr-green: #82d318;
	--alt-green: #cbff00;

	--clr-grey: #81899d;
	--alt-grey: #7c8499;
	--bg-grey: #fafbfc;
	--light-grey: rgb(229, 232, 235);
	--clr-chrome: rgb(219, 226, 233);

	--clr-blue: rgb(32, 129, 226);

	--clr-blk-button: rgba(4, 17, 29, 0.75);

	--shadow-smallest: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
	display: flex;
	flex-grow: 1;
	/* min-height: calc(100vh - 50px); */
	/* margin-top: 50px; */
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* #root {
	min-height: 100vh;
} */
